.w_font{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 63px;
    background: -webkit-linear-gradient(#F6BE64, #9546A1);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.m_font{
    font-weight: 500 !important;
    font-size:  24px !important;
}

.girl_logo{
    max-width: 100% !important;
    min-width:100% !important;
    max-height: 100vh !important;
    min-height: 100vh !important;
}

.form_row{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form_row label{
    width: 100%;
}
.form_row input{
    width: 60%;
    height: 50px;
}

